<footer>
  <div class="wrap-footer">
    <div class="footer-about">
      <p>deviseサンプル</p>
      <ul>
        <li><%= link_to "利用規約", page_path("terms"), class: "noline" %></li>
        <li><%= link_to "プライバシーポリシー", page_path("pryvacypolicy"), class: "noline" %></li>
        <li><%= link_to "運営者について", page_path("about"), class: "noline" %></li>
      </ul>
    </div>
    <div class="footer-copyright">
      <small>©kazu</small>
    </div>
  </div>
</footer>